<!-- #layout name='frontend.html' block='container' -->
<table cellpadding='0' cellspacing='0' align='center' width='790'>
<tr>
<td style='padding: 15px 0px 15px 0px;'>

<div class='content'>
<h1>在线演示</h1>
您可以通过简单的实例来快速的了解 Treacle。
<br><br>

<table cellpadding='0' cellspacing='0'>
<tr>
<td width='375' class='demo'>
  <div class='demo1'>
    <a href='' target='_blank'><img src='{{url::base()}}/assets/images/demo_user.gif' border='0' class='icon' style='margin-right: 5px;'>简单的相册</a>
  </div>
  <div class='demo2'>
    这个示例是一个简单的相册程序。演示了如何处理上传及生成缩略图。  </div>
</td>
<td width='20'>&nbsp;</td>
<td width='375' class='demo'>
  <div class='demo1'>
    <a href=''><img src='{{url::base()}}/assets/images/download.gif' border='0' class='icon' style='margin-right: 5px;'>简单的博客</a>
  </div>
  <div class='demo2'>
    用一个简化的 Blog 程序演示 Treacle 的 MVC 模式和自动化的数据库（创建、读取、更新、删除）操作。点击查看。
  </div>
</td>
</tr>
</table>

<br>

<table cellpadding='0' cellspacing='0'>
<tr>
<td width='375' class='demo'>
  <div class='demo1'>
    <a href='' target='_blank' class='orange'><img src='{{url::base()}}/assets/images/demo_admin.gif' border='0' class='icon' style='margin-right: 5px;'>数据库操作</a>
  </div>
  <div class='demo2'>
    演示如何将 CSV 文件导入数据库，以及将数据库内容导出为 CSV 文件。
  </div>
</td>
<td width='20'>&nbsp;</td>
<td width='375' class='demo'>
  <div class='demo1'>
    <a href=''><img src='{{url::base()}}/assets/images/download.gif' border='0' class='icon' style='margin-right: 5px;'>综合实例</a>
  </div>
  <div class='demo2'>
    这个示例是从一个实际应用程序的后台管理部分简化而来。演示了 Treacle 提供的多语言支持、与编码无关的程序代码和数据库操作、文件上传、图像处理、数据表关联等特征。
  </div>
</td>
</tr>
</table>

<br>

提示: .

</div>

</td>
</tr>
</table>

</td>
</tr>
</table>
