<!-- #layout name='frontend.html' block='container' -->
<table cellpadding='0' cellspacing='0' align='center' width='790'>
<tr>
<td style='padding: 15px 0px 15px 0px;'>


<div class='content'>

<h1>支持中心</h1>
We offer several methods of support to SocialEngine clients:
<br><br>

<table cellpadding='0' cellspacing='0'>
<tr>
<td style='padding-right: 10px;'>
  <a href='clients/clients_newticket.php-redirect=newticket'><img src='{_config.base_url}assets/images/ticket.gif' border='0'></a>
</td>
<td>
  <h2><a href='clients/clients_newticket.php-redirect=newticket'>Open a Support Ticket</a></h2>
  Our support ticket system allows us to help you with your problem personally. You must login to the
  <a href='clients/clients_index.php'>client area</a> to utilize our support ticket system.
</td>
</tr>
<tr><td colspan='2'>&nbsp;</td></tr>
<tr>
<td style='padding-right: 10px;'>
  <a href='faq.php'><img src='{_config.base_url}assets/images/knowledgebase.gif' border='0'></a>
</td>
<td>
  <h2><a href='faq.php'>Frequently Asked Questions</a></h2>
  Have some basic questions about SocialEngine? Your question may already have been answered in our
  FAQ, so feel free to have a look!
</td>
</tr>
<tr><td colspan='2'>&nbsp;</td></tr>
<tr>
<td style='padding-right: 10px;'>
  <a href='lostkey.php'><img src='{_config.base_url}assets/images/forgotpass.gif' border='0'></a>
</td>
<td>
  <h2><a href='lostkey.php'>License/Password Recovery</a></h2>
  Your license key and password are needed to login to the <a href='clients/clients_index.php'>client area</a>,
  where you can download important patches and updates. If you've lost your password,
  use this tool to reset it immediately.
</td>
</tr>
</table>

<br>

<h1>Other Resources</h1>
These helpful resources are provided to SocialEngine clients.

<br><br>

<table cellpadding='0' cellspacing='0'>
<tr>
<td style='padding-right: 10px;'>
  <a href='hosting.php'><img src='{_config.base_url}assets/images/hosting.gif' border='0'></a>
</td>
<td>
  <h2><a href='hosting.php'>Need Hosting?</a></h2>
  Looking for a hosting company that will suit the needs of your SocialEngine
  project? We can refer you to the hosting company that will best match your project's
  short and long-term needs.
</td>
</tr>
<tr><td colspan='2'>&nbsp;</td></tr>
<tr>
<td style='padding-right: 10px;'>
  <a href='customize.php'><img src='{_config.base_url}assets/images/customize.gif' border='0'></a>
</td>
<td>
  <h2><a href='customize.php'>Need Customizations?</a></h2>
  We can refer you to excellent third-party firms that will take on your custom SocialEngine project.
  They have the resources and know-how needed to help you realize your unique idea.
</td>
</tr>
<tr><td colspan='2'>&nbsp;</td></tr>
<tr>
<td style='padding-right: 10px;'>
  <a href='maillist.php'><img src='{_config.base_url}assets/images/newsletter_big.gif' border='0'></a>
</td>
<td>
  <h2><a href='maillist.php'>SocialEngine Newsletter</a></h2>
  Want to receive our news announcements in your email inbox? Want immediate notifications of
  version updates and releases? Signup for the SocialEngine Newsletter and stay connected!
</td>
</tr>
</table>

</div>


</td>
</tr>
</table>

</td>
</tr>
</table>

