<!-- #layout name='frontend.html' block='container' -->
<table cellpadding='0' cellspacing='0' align='center' width='790'>
<tr>
<td style='padding: 15px 0px 15px 0px;'>


<div class='content'>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td>
  <h1>News & Press</h1>
</td>
<td align='right' valign='bottom'>
  <b><a href='maillist.php'><img src='{_config.base_url}assets/images/newsletter.gif' border='0' class='icon' style='margin-right: 5px;'>Join Our Newsletter</a>
</td>
</tr>
</table>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>Groups 2.4 Released, Tutorials Made Public</td>
<td class='headline2'>March 10, 2008</td>
</tr>
</table>
<div style='padding: 10px;'>
It's about time we revisited some of our older plugins and spiced them up a bit!
Charlotte has improved the Groups plugin by adding forum-style threaded discussions.
We think discussion threads will keep your users more actively engaged with other group members,
which translates to more user-generated content and page views for you!
<br><br>
&#187; Go try out the group discussion on our <a href='demos.php'>online demos</a>.
<br><br>
Also, we've decided to open up the <a href='tutorials/index.html'>tutorials area</a> to the public.
While tutorial file attachments are still for clients only, anyone can now check out the tutorials
before buying SocialEngine. If you would like to share a mod or language pack you've made for
SocialEngine, please feel free to <a href='tutorials/tutorials_new.php'>send it</a> to us. You
are also welcome to link your tutorial to your website and sell your creations.
<br><br>
More good news - our next release will be a Marketplace (classifieds) plugin. We would appreciate
any thoughts you might have on what this should include, so feel free to <a href='contact.php'>send them</a>.
This should be ready in just a few weeks, so stay tuned!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>Chat Plugin Released</td>
<td class='headline2'>February 28, 2008</td>
</tr>
</table>
<div style='padding: 10px;'>
Here's a tasty new plugin - live chat! This plugin lets you install a live chatroom on your social network, allowing your users
to interact, create new connections, and have more fun. The chat system utilizes AJAX to put a minimum amount of stress on your server,
and management is a snap. Use the admin control panel to kick or ban users if they get out of control. We hope you and all your users
will enjoy this new addition to the growing SocialEngine platform.
<br><br>
&#187; Go try out the chat on our <a href='demos.php'>online demos</a>.
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 2.5 Released, New Tutorials Added</td>
<td class='headline2'>February 26, 2008</td>
</tr>
</table>
<div style='padding: 10px;'>
SocialEngine 2.5 is ready for download! This update includes some minor bug fixes throughout the platform. Also, Charlotte and
John have been coding furiously this week to bring you three new mod tutorials:
<br><br>
<ol>
<li>
  <a href='tutorials/tutorials_view.php-tutorial_id=50'>HOW TO: Create A Plugin (Part 1)</a>
  <br>This tutorial guides you through the process of creating your very own SocialEngine plugin.<br><br>
</li>
<li>
  <a href='tutorials/tutorials_view.php-tutorial_id=51'>New users automatically have a friend</a>
  <br>This tutorial shows you how to make every new member friends with someone on your social network, like "Tom" on MySpace.<br><br>
</li>
<li>
  <a href='tutorials/tutorials_view.php-tutorial_id=49'>Rating System</a>
  <br>This tutorial shows you how to add a rating system that your members can use to rate photos, blogs, groups, profiles, etc.
</li>
</ol>
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>vBulletin/phpBB2, Tutorials Area, SE 2.4 Released</td>
<td class='headline2'>February 15, 2008</td>
</tr>
</table>
<div style='padding: 10px;'>

<div style='float: right; padding-left: 20px; text-align: center;'>
  <a href='../www.phpbb.com/index.html' target='_blank'><img src='{_config.base_url}assets/images/phpbb.gif' border='0' style='margin-bottom: 10px;'></a><br>
  <a href='../www.vbulletin.com/index.html' target='_blank'><img src='{_config.base_url}assets/images/vbulletin.gif' border='0' style='border: 1px solid #BBBBBB;'></a>
</div>

We've created a new clients-only <a href='tutorials/index.html'>tutorial section</a>
where clients can check out tutorials and mods created by other clients as well as the SE team itself.
These tutorials offer step-by-step instructions for adding new features to your SE installation.
To send it off with a bang, one of our first tutorials is a vBulletin/phpBB2 integration mod that
will show you how to integrate either of those popular forum systems with SocialEngine. Although we
do not provide support for any of the tutorials, we think they will help you make your social network
more useful and fun! Also, if you would like to share a mod that you've already created
with the SE community, please feel free to <a href='tutorials/tutorials_new.php'>send it to us</a>.
We hope you enjoy all the new goodies!
<br><br>
<div style='width: 600px;'>
Secondly, we've released <b>SocialEngine 2.4</b>. This update contains bug fixes for some minor issues that have
been reported recently. Head on over to the <a href='clients'>client area</a> and download the 2.4 zip!
</div>
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>Events Plugin Released</td>
<td class='headline2'>February 5, 2008</td>
</tr>
</table>
<div style='padding: 10px;'>
It's here! We are excited to bring all of you some great new (much-requested) functionality - the Events plugin.
Now your users can create events and plan their own schedules with personalized calendars. A mini-calendar
is also displayed on your users' profile pages. Users can invite each other and RSVP to events. Each event
has it's own "profile" page, and users can post comments and upload photos.
<br><br>
Mosey on down to our <a href='demos.php'>online demo</a> and give it a try!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 2.1 Released, Album and Group Plugins Updated</td>
<td class='headline2'>January 4, 2008</td>
</tr>
</table>
<div style='padding: 10px;'>
The development team has released the SocialEngine 2.1 upgrade as well as an upgrade for the Photo Albums
plugin. These upgrades address all of the post-release issues found in the big 2.0 release last month. Now
that these are taken care of, we can move ahead with the Events plugin. Development on the Events plugin
should end in about a week, and the release will arrive shortly thereafter.
<br><br>
<b>Update (January 9):</b><br>
We've updated the 15-day free trial version to 2.1. If you've installed the 1.8 version, we encourage you
to request a fresh trial to experience 2.1. The online demos have also been updated from 2.0 to 2.1.
<br><br>
<b>Update (January 18):</b><br>
The Blog Plugin has been updated to version 2.1.
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 2.0 Released</td>
<td class='headline2'>December 14, 2007</td>
</tr>
</table>
<div style='padding: 10px;'>
Hooray! We've finally released SocialEngine 2.0. SocialEngine clients may now login to the
<a href='clients/index.html'>client area</a> and purchase the 1.8 -> 2.0 upgrade for $25 US. Please note
that your upgrade order may take us up to 24 hours to process. If you would prefer that we handle
your upgrade process, you can purchase our install service for $19. We will begin filling these
installation orders on the 17th (this coming Monday).
<br><br>
Last week's online beta went exceptionally well and we are pleased to see fewer bugs than we had
expected. Thank you all for participating in the testing - your feedback was extremely helpful!
<br><br>
Here are answers to some common questions about SE 2.0:
<ol>
<li>
<b>When I upgrade from 1.8, will I lose my customizations and layout design?</b><br>
The upgrade process involves replacing all of your PHP, TPL, and CSS files. This
means that you will lose any changes you have made to these files. Unfortunately there is no
easy way to avoid this since we've made so many changes to the platform.
If possible, make a note about each change you've made in your current installation so that
you can reapply them after the upgrade process.
<br><br>
</li>
<li>
<b>When I upgrade from 1.8, will I lose my settings and user data?</b><br>
Thankfully no! When you upgrade from 1.8, you will run a program that will import all your
settings and user data. The only data that will be lost is your users' profile styles and
their email notification settings - unfortunately those could not be easily imported into
the new platform.
<br><br>
</li>
<li>
<b>When I upgrade from 1.8, should I make a backup of my current installation?</b><br>
Of course! Download all of your SocialEngine files to your computer desktop. Next, use
PHPMyAdmin to export your entire database WITH data - choose to save it as an SQL file
on your desktop. Now you can proceed with the upgrade. DO NOT try the upgrade yourself
if you are unsure how to make a proper backup.
<br><br>
</li>
<li>
<b>Will the source code in 2.0 still be 100% unencrypted?</b><br>
Absolutely.
<br><br>
</li>
<li>
<b>When can I expect to see the events plugin and forum tutorial?</b><br>
Our next task is to create the events plugin. Our goal is to have this released within two
weeks of today, but it may in fact come much sooner. The first forum integration tutorial will
be for phpBB and will also be released within one or two weeks. Thanks for waiting!
</li>
</ol>
For any kind of technical support regarding 2.0, please <a href='login.php-redirect=newticket'>create a support ticket</a>.
We hope you all enjoy the great new features in SE 2.0!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>Version 2.0 Online Beta</td>
<td class='headline2'>December 7, 2007</td>
</tr>
</table>
<div style='padding: 10px;'>
Thank you all for being so patient, even after the first beta deadline was missed! Today we have finally
released the SocialEngine 2.0 Online Beta. The beta allows you to create an account on a demo social
network and explore most of the new features we've added in 2.0. You can also login as the admin and
have a look around, although you won't be able to save any changes. Here are some things to keep in
mind as you explore the beta:
<ol>
<li>
  This is a <b>beta</b> version! The front-end design is still being dressed up and minor last-minute
  changes are being made. However, if you find any bugs, please <a href='contact.php'>let us know</a>!
  Be sure to include specific information (e.g. error messages) about how you found the bug, how it
  can be duplicated, etc. Please be as detailed as possible!<br><br>
</li>
<li>
  Most of the changes/additions we've made in 2.0 are actually on the back-end. Charlotte has rewritten
  the entire source code such that it now utilizes an effecient object-oriented structure. This means that
  even the old features need to be re-tested, so give everything a try. If you have a thorough look over
  the admin panel, you'll see where most of the actual new features come into play. To review all the
  new features we've added in 2.0, see the post "Final 2.0 Feature List and Release Date" below.<br><br>
</li>
<li>
  Be sure to check out some of the great new features such as the admin's Ad Campaigns page and
  the Recent Activity Feed. These features are in their first version and will be consistently improved
  based on your feedback, so don't be shy! Our primary goal is to make SocialEngine the best white-label
  social network platform in the world, so we used 2.0 to bring you advanced social networking features like the Ad Campaigns
  and Recent Activity Feed. Once 2.0 is stable and the kinks are worked out, we plan to put our effort into
  developing more user features like an events plugin, an video (flash) tutorial, and a phpBB/vBulletin forum
  tutorial. So thank you all for being patient - the new user features are on their way!
</li>
</ol>
Access the user beta here: <a href='../beta.socialengine.net/index.html' target='_blank'>http://beta.socialengine.net</a><br>
Access the admin beta here: <a href='../beta.socialengine.net/admin' target='_blank'>http://beta.socialengine.net/admin</a>
<br><br>
<b>
To submit your comments, suggestions, and bug reports, please use our <a href='contact.php-bugreport=1'>contact form</a>.
Do NOT create a support ticket in the client area about the beta - it may not be answered. Thank you!
</b>
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 2.0 Beta Testers Needed, Release Date Changed</td>
<td class='headline2'>November 28, 2007</td>
</tr>
</table>
<div style='padding: 10px;'>
We are nearing the end of the SocialEngine 2.0 development period, but unfortunately we are slightly
behind schedule and will need to make some extra time for final touches and beta testing. We sincerely
apologize for the release delay, but we feel that our top priority is to bring you quality, stable
software, and sometimes that takes some extra time. Our goal is to have 2.0 available on December 5.
<br><br>
On the bright side, we are going to have a beta version of 2.0 available before the release.
We are would like to enlist the help of several current SocialEngine clients to assist with the beta
testing process. We will walk through the installation process with you, noting any problems that arise
and testing all the various new features. In exchange, you will receive the upgrade free of charge when
it is released.
<b>Beta testing will be conducted on December 4 between 12:00 PM and 6:00 PM (PST).
If you are interested in being a beta tester and are free during this time period,
please <a href='contact.php'>contact us</a> to get started!</b>
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>Final 2.0 Feature List and Release Date</td>
<td class='headline2'>October 30, 2007</td>
</tr>
</table>
<div style='padding: 10px;'>
Finally! We have compiled the feature list of the upcoming 2.0 release. We are publishing this feature list
with the hope that it will help SocialEngine clients (and potential clients) plan their projects as we
approach the 2.0 release. We've made the main platform our first priority and decided to update the
current plugins (and develop/release new plugins) after the main platform update is complete.
<br><br>
SocialEngine 2.0 is scheduled to be <b>released on December 1</b> and will include all of the following
features (as well as a multitude of smaller minor changes).
<br><br>

<ul style='list-style-image: url(/images/bullet.gif);'>
<li>
<b>Renovated platform using a consolidated, object-oriented class structure</b><br>
Similar and duplicate code throughout the platform will be converted into shared classes.
The entire PHP source code will be upgraded from its current form (mostly procedural)
to an almost entirely object-oriented structure. This will reduce SocialEngine's
PHP files to a fraction of their original size, cutting down on bulk and making customizations
even easier than before. Many of the functions used in various parts of the platform are now
consolidated into a single place, so you can make sweeping changes very easily. This will also
help you troubleshoot issues or circumvent/remove system bottlenecks if necessary. Functions
are now grouped by type to help avoid conflicts with updates and modifications made to the
source code.
<br><br>
</li>
<li>
<b>Facebook-style "recent activity" list with RSS feed</b><br>
SocialEngine will keep track of your users' actions and publish them in a list on the
"My Home" and "Profile" pages. As the admin, you will specify what actions will be
published and how often. Users can optionally delete items published about them and
configure their own privacy settings.
<br><br>
</li>
<li>
<b>Multiple user levels</b><br>
As the admin, you can now create multiple user levels. These are groups of users that
have varying limits and access to features. For example, you may want to offer levels
like "Free", "Silver", and "Gold". Note that PayPal (or any other payment
processing solution) will NOT immediately be integrated into 2.0, although you will be
able to customize the source code to allow this functionality quite easily.
<br><br>
</li>
<li>
<b>Ad campaign management with user level and subnetwork targeting</b><br>
As the admin, you can now create and monitor ad campaigns. Campaigns can be setup to
use a banner uploaded from your computer, or you can insert any HTML or Javascript
(e.g. Google Adsense code). Impressions, clicks, and click-through-ratio (CTR) are
automatically tracked. You can set campaigns to begin and end on certain dates,
or end if their number of impressions or clicks hit a limit you specify. To avoid
poorly-performing campaigns, you can also set a campaign to end if its CTR dips below
a low threshold you specify. Without any changes to the HTML templates, ads can be
set to automatically appear on various positions on your social network. Alternatively,
you can insert a snippet of code into any template to show the ad on a specific page.
Ad campaigns can be targeted to specific subnetworks or user levels, allowing you to
show ads to people based on their profile information (e.g. interests, gender,
age, etc.) thereby drastically increasing the effectiveness of your ads.
<br><br>
</li>
<li>
<b>Improved, more attractive front-end design</b><br>
We've refreshed the clean look of SocialEngine with subtle changes throughout
the design.
<br><br>
</li>
<li>
<b>AJAX commenting and status updates</b><br>
Comments and status updates are now posted instantly (without a page refresh) using a
seamless AJAX interface. Other small AJAX implementations have been applied throughout
SocialEngine to further improve the user experience.
<br><br>
</li>
<li>
<b>Consolidated database query function</b><br>
Before SocialEngine 2.0, database queries were executed using PHP's mysql_query()
function. These queries can be found in hundreds of places throughout the source code.
With the creation of the "$database" object in 2.0, every query that is run by
the platform is passed through a single method. This makes it much easier to integrate
SocialEngine into other RDMBS like MSSQL or PostgreSQL. This also assists greatly with
troubleshooting slow queries.
<br><br>
</li>
<li>
<b>User level or subnetworks-specific announcements</b><br>
As the admin, you can now post announcements that will only be visible to specific
user levels or subnetworks.
<br><br>
</li>
<li>
<b>Multi-language (user can select their own language)</b><br>
This highly-requested feature allows users to view the social network in the language
they choose, provided that you (the admin) have created a language pack for their language.
<br><br>
</li>
<li>
<b>Automatic update notifications from SocialEngine.net</b><br>
The SocialEngine admin panel now automatically (but non-annoyingly) notifies you when an
update is available for the platform or any of the official plugins.
<br><br>
</li>
<li>
<b>New extensible plugin interface</b><br>
Plugins are now truly "plug-and play" and can be managed from a single section of
the admin panel. Since plugins now follow a standardized format, custom plugins can now be
designed and installed with ease.
<br><br>
</li>
<li>
<b>Section to view outgoing friend invitations</b><br>
Users can now see both their incoming and outgoing friendship invitations. This helps them
keep track of their relationships in a more organized fashion. If you would rather have
users not see their outgoing friend invitations, you can easily remove this option from the
template.
<br><br>
</li>
<li>
<b>Online/Offline icons on profile and search results</b><br>
Icons are now used to indicate when a user is online. By default, these will appear on users'
profiles and in search results.
<br><br>
</li>
<li>
<b>HTML in profile fields</b><br>
As the admin, you can now choose to allow HTML in specific profile fields. You can also
optionally limit which HTML tags and properties are allowed. This is very useful if you want
to allow users to style the profile content or embed an external object like a music player
or YouTube video.
<br><br>
</li>
<li>
<b>Make dependent fields linkable</b><br>
Dependent profile fields may now be set to "linkable". If this is turned on and a user enters
text separated by commas, the keywords will be linked. When a keyword is clicked, the viewer
is taken to a page that lists all users on the social network that have entered that keyword
in that profile field.
<br><br>
</li>
<li>
<b>Ability to retrieve admin password</b><br>
Admin passwords can now be retrieved if lost.
<br><br>
</li>
</ul>
<b>Events Plugin</b><br>
We know that many of you have been waiting patiently for the Events plugin. While we are fully
aware of the importance of this plugin, we are going to <b>release it on December 7</b> - just one
week after the main 2.0 release. We feel that our goal of releasing a stable, well-designed,
main platform is paramount, so unfortunately the Events plugin will need to come just one week later.
<br><br>
<b>Forum Integration Tutorial</b><br>
We also know that many of you are waiting for a phpBB/vBulletin forums integration plugin. After
much research, we've decided to release this as an tutorial (instead of an official plugin).
This is because many of you have different forum setups (with various modifications, servers, etc.)
which makes creating a single solution quite difficult. Our tutorial will give you very simple step-by-step
instructions for integrating your <a href='../www.phpbb.com/index.html' target='_blank'>phpBB</a> or
<a href='../www.vbulletin.com/index.html' target='_blank'>vBulletin</a> forum into SocialEngine.
<br><br>
<b>Other Tutorials</b><br>
Shortly after the 2.0 release, we will open a new section of this website that will include
tutorials which give you instructions about how to add other various features to
SocialEngine. Among others, these tutorials will likely include:

<br><br>
<ul style='list-style-image: url(/images/bullet.gif);'>
<li>phpBB and vBulletin Forum Integration</li>
<li>Video integration (with automatic Flash conversion)</li>
<li>PHPFox database import</li>
<li>DZOIC Handshakes import</li>
<li><a href='../www.userplane.com/index.html' target='_blank'>Userplane</a> Chat/IM</li>
</ul>

We will also be giving SocialEngine clients the ability to write their own tutorials and comments.
This should be an exciting new period for SocialEngine - we look forward to sharing it with you!

</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine Trial Launched</td>
<td class='headline2'>October 26, 2007</td>
</tr>
</table>
<div style='padding: 10px;'>
Good news for those of you that have been following SocialEngine for a while but haven't bought
a license just yet. Today we've released a free 15-day trial of SocialEngine 1.8 and all the
available plugins. You can <a href='trial.php'>download the trial</a> and install it on your server in minutes!
The trial is fully functional except that it expires in 15 days, most of the PHP source code is encrypted, and no support is provided.
Here's your chance to see how SocialEngine works on your server - play with the features and settings to get a good
feel for the platform. If you decide to purchase a license, you can keep all the content you've created on your trial
installation. Enjoy!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 1.8, Blogs Plugin 1.6 Released</td>
<td class='headline2'>October 19, 2007</td>
</tr>
</table>
<div style='padding: 10px;'>
We've released a new version of the platform today, SocialEngine 1.8. This update fixes several
minor bugs we've found over the past several weeks, namely issues we've found within the FCKeditor
component, the admin's statistics area, the post comment page, and several small language oversights.
SocialEngine 1.X is now remarkably stable, so to celebrate we will be bringing you a whole new version
of the platform! Our development manager Charlotte has been making excellent progress with the
SocialEngine 2.0 alpha, and she has taken many of your feature requests into account. We will be
posting a news announcement with a definitive feature list for SE 2.0 early next week.
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 1.7 Released</td>
<td class='headline2'>September 1</td>
</tr>
</table>
<div style='padding: 10px;'>
Great news everyone! SocialEngine 1.7 is out, and the platform is now extremely stable.
The last few bugs we could find were fixed, including bad-word censoring, content-specific search issues,
and a minor problem with friendship types. Charlotte also made some great improvements based on your suggestions,
such as allowing private user profiles to display (but only with the user's photo and a "profile is private" message),
trimming down extraneous code from the functions libaries, allowing you to specify a URL to send users when they login,
and a number of other minor changes. We hope you all enjoy the new version!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>The SocialEngine Newsletter</td>
<td class='headline2'>August 24</td>
</tr>
</table>
<div style='padding: 10px;'>
<div style='float: right; padding: 0px 0px 10px 15px;'><img src='{_config.base_url}assets/images/newsletter2.gif' border='0'></div>
After much nagging, we've finally created a SocialEngine Newsletter. Sign up to start receiving
email notifications when we post news announcements about new releases, important updates, and
future plans. You don't have to be a SocialEngine client to signup, it's <a href='maillist.php'>open for everyone</a>!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 1.6 Released, API Planning Begins</td>
<td class='headline2'>August 19</td>
</tr>
</table>
<div style='padding: 10px;'>
We are happy to announce the release of SocialEngine 1.5. This update has fixed all the small
bugs you have reported, so things are looking great. Charlotte and I are beginning discussions
about creating an API that will make integrating third-party applications (as well as developing
your own plugins) much easier. We are still organizing our thoughts on this, but we are hoping
to have it published in 1-2 months or sooner. We are also creating a list of plugins that will
be developed and released in the near future, so those will be announced soon. If you have a
feature request or two, now would be an excellent time to <a href='contact.php'>share them with us</a>!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 1.5 Released, Subnetworks Explained</td>
<td class='headline2'>August 6</td>
</tr>
</table>
<div style='padding: 10px;'>
Charlotte and I are excited to announce the release of SocialEngine 1.5. For those of you running into
trouble with subnetworks, your salvation is here. We've simplified the subnetworks admin area and fixed
the logic so that users are now properly sorted depending on their profile information.
<br><br>
<b>So how do subnetworks work anyway?</b> Subnetworks are one of the features that truly set SocialEngine
apart from its competitors. As the admin, you can create "subnetwork rules" which determine how your users
are sorted. For example, if you wanted to sort your users by age, you could create the following rules:
<br><br>
<div style='padding: 0px 50px 0px 50px; font-style: italic;'>
  Subnetwork #1: Users under 18 years old
  <br>Subnetwork Rule: Age < 18
  <br><br>Subnetwork #2: Users over 18 years old
  <br>Subnetwork Rule: Age > 18
</div>
<br>
If you want to take this more in depth and split users based on several criteria (e.g. age and gender), you
could use the following rules:
<br><br>
<div style='padding: 0px 50px 0px 50px; font-style: italic;'>
  Subnetwork #1: Men under 18 years old
  <br>Subnetwork Rule: Age < 18 and Gender == Male
  <br><br>Subnetwork #2: Men over 18 years old
  <br>Subnetwork Rule: Age > 18 and Gender == Male
  <br><br>Subnetwork #3: Women under 18 years old
  <br>Subnetwork Rule: Age < 18 and Gender == Female
  <br><br>Subnetwork #4: Women over 18 years old
  <br>Subnetwork Rule: Age > 18 and Gender == Female
</div>
<br>
A lot of people have asked us, <b>"how do I show ads to a specific subnetwork?"</b>
When a user is logged in, the header.php file sets a variable named <i>{$user_subnetwork}</i>.
This variable contains the name of the subnetwork the user belongs to. Using the example above, if
you want to show a specific ad only to "Women over 18 years old" on the top of every page, you could
add something like this to the header.tpl template file:
<br><br>
<div style='padding: 0px 50px 0px 50px; font-style: italic;'>
  {if $user_subnetwork == "Women over 18 years old"}
  <br>&nbsp;&nbsp;INSERT YOUR ADVERTISEMENT HTML CODE HERE
  <br>{/if}
</div>
<br>
We hope you all enjoy this great feature!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>Need Customizations? Talk to Lee.</td>
<td class='headline2'>August 3</td>
</tr>
</table>
<div style='padding: 10px;'>
<div style='padding: 10px; float: right;'><img src='{_config.base_url}assets/images/atomix.gif' border='0'></div>
Since SocialEngine's first release, our team has received an overwhelming number of requests for custom projects.
However, we are committed to focusing on improving the product itself and developing new features and plugins.
To solve this problem, we've been seeking out third-party development firms that can take on all of your
exciting SocialEngine project ideas. Today, we've added UK-based Atomix Web Solutions to our list of integration
partners. If you're ready to get your custom SocialEngine project underway, send your project details to
Atomix managing director <a href='mailto:Lee.sargeant@atomixweb.com'>Lee Sargeant</a> for more information.
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>We are hiring!</td>
<td class='headline2'>July 25</td>
</tr>
</table>
<div style='padding: 10px;'>
The response to SocialEngine has been overwhelming! We are excited to see such a huge influx of SocialEngine customers and fans. We would like to add someone to our in-house team to help with customer support and product development. Here is a copy of the job listing:

<br>

<div style='padding: 7px 10px 7px 10px; border: 1px dashed #CCCCCC; margin: 20px 30px 0px 30px; font-size: 8pt;'>
<b>Part-time Developer for Social Networking Startup</b><br>
Love to write web-based software? Come work at our exciting social networking startup in beautiful old town Pasadena! We need you to help us build white-label social networks for our customers. We are already profitable and have some very exciting things planned for the near future. Our company has a part-time position open for any bright, enterprising individual that enjoys web development, programming, business, and caffeine. Depending on your existing abilities, your pay will likely start at $20/hour and will potentially increase based on the level of contribution that you can provide. We may also take you on as a full-time employee. Expect to be constantly learning in our fast-paced entrepreneurial environment. Your responsibilities will be a combination of customer support and product development. You will take a very active role in our startup, so we need you to be flexible, critical, and dynamic.
<br><br>
<b>Position Requirements:</b>
<ol style='margin-top: 4px;'>
<li style='margin-bottom: 4px;'>
You must be very experienced with PHP, MySQL, HTML, CSS, and Javascript. Anyone missing any one of these items need not apply, period.
</li>
<li style='margin-bottom: 4px;'>
You should have experience with design fundamentals in general. A combination of creative and technical abilities is crucial. We will want to see some of your past work before hiring you.
</li>
<li style='margin-bottom: 4px;'>
You should have experience with supporting customers - proper, clear writing is important to us.
</li>
<li style='margin-bottom: 4px;'>
You must be willing to come work with us in our office in downtown Pasadena on at least a part-time basis to start. Working from home may become a possibility in the future.
</li>
</ol>
Again, please note that this is an in-house position. Outsourcing firms need not respond. For information about the project you will be working with, please visit the project website:
<a href='index.html'>http://www.socialengine.net</a>
<br><br>
If you're interested in this position, please <a href='contact.php'>contact us</a> and include your resume and some general information about yourself.
</div>

</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 1.4 Released, 1.5 Planned</td>
<td class='headline2'>July 8</td>
</tr>
</table>
<div style='padding: 10px;'>
Thanks to everyone that reported all the minor bugs we missed throughout the platform. We've gone through several version updates over the last few days, and SocialEngine has now reached version 1.4. We've also released a series of updates for the Blogs, Groups, and Photo Album addons. Their versions have now reached Albums 1.2, Blogs 1.2, and Groups 1.3. Of course, these are all 100% compatible with SocialEngine 1.X. A few more bugs have been reported, so the SocialEngine 1.5 release is planned for the first week of August.
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 1.1 Released</td>
<td class='headline2'>June 18</td>
</tr>
</table>
<div style='padding: 10px;'>
We are pleased to announce the very first patch to the SocialEngine platform. Thanks to all of you that reported some key bugs that we missed in the beta. Also, thanks for everyone's excellent feature requests. We are compiling a list of often-requested features to include in upcoming versions. Stay tuned!
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>Young Developer Duo Releases Novel Social Network Platform "SocialEngine"</td>
<td class='headline2'>June 6</td>
</tr>
</table>
<div style='padding: 10px;'>
Pasadena, CA (June 6, 2007) - Two college-aged software entrepreneurs hailing from Webligo, a budding Pasadena-based company specializing in web-based software development, have released a new social networking platform called SocialEngine. Webligo's young developing duo, Alex Benzer and Charlotte Genevier, have already developed several popular web-based software applications that have earned the acclaim of local media as well as thousands of webmasters worldwide. With SocialEngine, the developers aim to give individual webmasters and small organizations a comprehensive yet simple way to build social networks.
<br><br>
SocialEngine (<a href='index.html'>http://www.socialengine.net</a>) is a PHP-based white-label social network platform that installs a full-featured social network on your website. Like other products, it includes most of today's popular features such as blogs, photo and video albums, interest groups, and so forth. What makes SocialEngine unique is its unprecedented extensibility and customizability. While other products give you cookie-cutter designs and an overwhelming mound of features for users, SocialEngine offers simplicity, ease of use, and complete control over the appearance and functionality of your social network. The developers designed SocialEngine to highlight your unique concept instead of the platform itself. In that vein, SocialEngine is the only product of its kind that does not force any copyright statements or branding on the visible areas of your social network.
<br><br>
Another unique aspect of SocialEngine is its capability to have "subnetworks." SocialEngine automatically sorts your users into these subnetworks depending on the rules you (the administrator) have set. For example, you can organize users by age, location, profession, university, and so forth. Smart administrators will use this feature to show highly-targeted advertisements to their users, generating above-average advertising returns.
<br><br>
Unlike other products, SocialEngine also lets you design your social network from a structural perspective. You can decide how users will associate with each other, what privacy options they will have, whether users must be invited to sign up, and more. To learn more about SocialEngine, visit the product website: <a href='index.html'>http://www.socialengine.net</a> or Webligo's company website at <a href='../www.webligo.com/index.html'>http://www.webligo.com</a>
</div>

<br>

<table cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td class='headline'>SocialEngine 1.0 Released</td>
<td class='headline2'>June 1</td>
</tr>
</table>
<div style='padding: 10px;'>
The development team is thrilled to announce the first official release of our breakthrough social network platform, SocialEngine. We are now accepting purchase orders from the public via our <a href='order.php'>order</a> page. Shortly following your order, you will receive an email with your license information and instructions to download the software package. If you decide not to take advantage of our installation service, installation instructions are included with the downloadable package. SocialEngine has a very exciting development future! We want you to <a href='contact.php'>submit</a> your feature requests so that we can potentially incorporate them into future versions of the platform.
</div>

</div>


</td>
</tr>
</table>

</td>
</tr>
</table>

