<!-- #layout name='frontend.html' block='container' -->
<table cellpadding='0' cellspacing='0' align='center' width='790'>
<tr>
<td style='padding: 15px 0px 15px 0px;'>


<div class='content'>

<script language='JavaScript'>
<!--
function showhide(id1) {
  if(document.getElementById(id1).style.display=='none') {
    document.getElementById(id1).style.display='block';
    countviews(id1);
  } else {
    document.getElementById(id1).style.display='none';
  }
}
function countviews(id1) {
  var id2 = 'viewcounter' + id1;
  document.getElementById(id2).src='faq.php?task=addview&faq_id='+id1
}
// -->
</script>

<h1>常见问题 (FAQ)</h1>
Below you will find answers to many questions frequently asked by prospective and current SocialEngine clients.

<br><br>

<form action='faq.php' method='get'>
<table cellpadding='0' cellspacing='0'>
<tr>
<td>Search:&nbsp;</td>
<td><input type='text' class='text' size='30' name='search' id='search' maxlength='100' value=''></td>
<td>&nbsp;<input type='submit' class='button' value='Search'></td>
</tr>
</table>
<input type='hidden' name='task' value='dosearch'>
</form>

<br>

    <h2 class='title'>Presale Questions</h2>
    <div class='text'>

      <div><a name='faq19' id='faq19'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('19');">Is the source code encrypted?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='19'>
          Our source code is <b>100% unencrypted</b> so you can make absolutely any changes you need. Additionally, the source code is very heavily commented with notes about what is happening throughout the code.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter19' style='display: none;'>
        </div>
      </div>

      <div><a name='faq2' id='faq2'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('2');">How easily can I customize SocialEngine?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='2'>
          We've gone to great lengths to make SocialEngine incredibly easy for you to work with and customize. The entire source code is unencrypted and very thoroughly commented with notes about what's happening throughout the PHP code. We also provide fully commented HTML templates for every single page of your social network, including global header/footer templates and an organized CSS stylesheet.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter2' style='display: none;'>
        </div>
      </div>

      <div><a name='faq3' id='faq3'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('3');">What are the server requirements?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='3'>
          For complete server requirement information, please <a href='requirements.php'>click here</a>.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter3' style='display: none;'>
        </div>
      </div>

      <div><a name='faq4' id='faq4'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('4');">Can the script be translated into another language?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='4'>
          Very easily! We include all of the language used on the system in a single language pack, which makes translation very simple.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter4' style='display: none;'>
        </div>
      </div>

      <div><a name='faq5' id='faq5'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('5');">How soon will I receive my download information after purchasing?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='5'>
          You will receive your license information within 24 hours of your purchase - but usually much sooner. This validation period helps us prevent fraudulent orders.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter5' style='display: none;'>
        </div>
      </div>

      <div><a name='faq6' id='faq6'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('6');">Is my billing information kept private when I purchase?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='6'>
          Absolutely! In fact, we never see or store your billing information on our servers. Your information is processed via PayPal's secure payment gateway.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter6' style='display: none;'>
        </div>
      </div>

      <div><a name='faq7' id='faq7'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('7');">What is your refund policy?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='7'>
          We provide refunds only in the case that SocialEngine cannot be properly installed on your server. This means that both you and the SocialEngine staff are unable to install SocialEngine properly.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter7' style='display: none;'>
        </div>
      </div>

      <div><a name='faq8' id='faq8'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('8');">Do I have to pay extra to remove any mentions of SocialEngine?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='8'>
          Absolutely not. Unlike other products, we do not display "SocialEngine" on your social network in any place that is visible to the public. We would never let our product interfere with your brand.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter8' style='display: none;'>
        </div>
      </div>

      <div><a name='faq9' id='faq9'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('9');">How long does installation take?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='9'>
          If you've decided to add our professional installation service to your purchase, we ask that you please send us your FTP and cPanel (or MySQL database) information. After we receive this information, your installation will be completed within two business days (usually much sooner).
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter9' style='display: none;'>
        </div>
      </div>

      <div><a name='faq10' id='faq10'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('10');">How many users can SocialEngine support?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='10'>
          We've worked hard to make SocialEngine an optimized, lightweight platform. The performance of the platform is primarily dependent on the capabilities of your server. As with any web-based application, you may need to upgrade your server if your social network attracts a large amount of traffic. This also depends on what activities your users participate in. For example, if your users are uploading lots of media (photos, videos, etc.) then you may need to upgrade the amount of server space you have available. On most shared-server plans, SocialEngine should be able to support tens of thousands of users, while a single dedicated server can usually support upwards of one hundred thousand. However, we make no warranty for the quality of your hosting provider's service.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter10' style='display: none;'>
        </div>
      </div>

      <div><a name='faq11' id='faq11'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('11');">I want to purchase more than five licenses. Is there a discount?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='11'>
          Yes. We offer substantial discounts for purchases that include more than five licenses. Please contact us and let us know how many licenses you need for your project.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter11' style='display: none;'>
        </div>
      </div>

      <div><a name='faq22' id='faq22'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('22');">Are future updates free?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='22'>
          Minor updates (e.g. 2.1 to 2.2) are provided free of charge. These updates are released often - usually about once per month. Major updates (e.g. 2.X to 3.X) can be purchased for a small upgrade fee (usually between $25 US and $50 US) and generally include a massive amount of new functionality and improvements. Major updates are released only a few times each year.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter22' style='display: none;'>
        </div>
      </div>

    </div>

    <h2 class='title'>Free Trial Questions</h2>
    <div class='text'>

      <div><a name='faq31' id='faq31'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('31');">Why am I getting a license key error when trying to install the trial?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='31'>
          Make sure that you've uploaded license.txt (which was attached to the email you received from us after requesting your trial) to the directory on your server in which you've installed the SocialEngine Trial. Try uploading in BINARY mode, and failing that, ASCII mode. If you still receive an error message, you can try setting full permissions (CHMOD 777) on license.txt or try changing it's owner to "php" or "apache" or "root".
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter31' style='display: none;'>
        </div>
      </div>

      <div><a name='faq39' id='faq39'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('39');">How do I upgrade from the trial? Do I need to re-install?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='39'>
          If you're still running the trial version and want to upgrade to the full version, the process is quite simple. After buying your license, login to our client area and download the SocialEngine ZIP file, and the plugin ZIP files. Extract them on your desktop, and upload all of the PHP files contained therein to your server. You should now be all set!
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter39' style='display: none;'>
        </div>
      </div>

    </div>

    <h2 class='title'>General</h2>
    <div class='text'>

      <div><a name='faq32' id='faq32'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('32');">Something isn&#039;t working. What do I do?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='32'>
          When something is not working, following these steps will help you find an answer quickly.

<ol>
<li>
Search the FAQ:<br>
The FAQ is constantly being updated with new questions. Often a nasty error can be caused by a small configuration mistake. If there is already a known issue around a problem, you can fix it immediately.
</li>
<li>
Analyze the Problem Source:<br>
Do a quick analysis of the problem and guess what is causing the problem. For example, if you can't login, make sure cookies and javascript are enabled. If you get a "500 Internal Server Error", chances are something is wrong with your server setup. In this case, you should probably contact your provider as that is their area of expertise.
</li>
<li>
Contact Support:<br>
Couldn't find a solution? Feel free to contact us through the client area. We are always happy to listen and address your concerns.
</li>
</ol>

	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter32' style='display: none;'>
        </div>
      </div>

      <div><a name='faq37' id='faq37'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('37');">I love SocialEngine! Where can I write a testimonial?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='37'>
          We are thrilled that you're enjoying SocialEngine! If you would like to write a testimonial about how you've utilized SocialEngine for your project, please feel free to send it through our <a href='contact.php'>contact form</a>. With your permission, we will publish your name, website URL, and testimonial on the SocialEngine website - unless you would prefer to keep any of these items private.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter37' style='display: none;'>
        </div>
      </div>

    </div>

    <h2 class='title'>Installation</h2>
    <div class='text'>

      <div><a name='faq12' id='faq12'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('12');">How do I install SocialEngine?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='12'>
          To install SocialEngine on your server, download SocialEngine from the client area, unzip the file with WinZip, and follow the installation instructions in install.html. Installation only requires that you upload several files via FTP, create a MySQL database, and run the SocialEngine installation script in your browser.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter12' style='display: none;'>
        </div>
      </div>

      <div><a name='faq15' id='faq15'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('15');">If I upgrade to a new version, will I lose my customizations or admin panel settings?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='15'>
          This depends on what type of customizations you've made. If you've simply created new files and linked to them from SocialEngine, it's unlikely that you will lose any customizations you've made. If you've edited the core SocialEngine code and you overwrite it with the new files from the upgrade package, you may lose your customizations. To avoid this, you can refer to our changelog.html (provided in the SocialEngine zip) to see which files we've changed in each version. If you want to ensure that you don't lose any changes you've made, you can use a file comparison program to compare your files with the newly updated ones. Regardless of the changes you've made to your source code, it's unlikely that you will lose any of your admin panel settings when you upgrade.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter15' style='display: none;'>
        </div>
      </div>

      <div><a name='faq17' id='faq17'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('17');">How do I move my installation to a new server?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='17'>
          First, check to see if your new host provides a migration service. If they do not, you can move the installation yourself by exporting your MySQL database using cPanel or PHPMyAdmin, downloading all your SocialEngine files to your computer desktop, importing your MySQL database on your new server, and uploading your SocialEngine files to the new server. Remember to set the proper permissions on the new server (as described in install.html).
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter17' style='display: none;'>
        </div>
      </div>

      <div><a name='faq40' id='faq40'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('40');">Can SocialEngine be installed in a subdirectory or subdomain?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='40'>
          Absolutely! You can install SocialEngine on any location on your server.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter40' style='display: none;'>
        </div>
      </div>

    </div>

    <h2 class='title'>Configuration</h2>
    <div class='text'>

      <div><a name='faq18' id='faq18'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('18');">How do I setup &quot;search engine friendly URLs&quot;?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='18'>
          To setup search engine friendly URLs, visit the URL Settings page within your admin panel and follow the instructions. After getting your .htaccess code, remember to upload the .htaccess file to your server in ASCII mode. If you are having problems getting this to work, check with your hosting provider that you have Apache and mod_rewrite installed.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter18' style='display: none;'>
        </div>
      </div>

      <div><a name='faq20' id='faq20'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('20');">How do I change my admin password?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='20'>
          You can change it in the View Admins section of the admin panel.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter20' style='display: none;'>
        </div>
      </div>

      <div><a name='faq28' id='faq28'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('28');">What is a MIME type?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='28'>
          A MIME type is a way of encoding files to be correctly transferred over the internet. It is also be used to identify the type of file being sent regardless of its extension. This prevents users from uploading files that have had their extensions changed, which is a security hazard.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter28' style='display: none;'>
        </div>
      </div>

      <div><a name='faq29' id='faq29'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('29');">What is the MIME type for a certain file?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='29'>
          <style type='text/css'>
table.mimetypes { width:400px; margin:25px; border:1px solid #A0A0A0; }

table.mimetypes tr.title td { background:#F1F1F1; padding-bottom:5px; }
table.mimetypes tr.section { background:#F1F1F1; }

table.mimetypes td { padding:0px 0px 0px 10px; }

table.mimetypes tr.title h3 { margin:5px 0px 5px 10px; font-size:11pt; }
table.mimetypes tr.section h3 { margin:5px 0px 5px 10px; font-size:9pt; }
</style>

Here are some commonly used file formats and their corresponding MIME type(s).

<table cellpadding='0' cellspacing='0' class="mimetypes">

  <tr class="title">
    <td><h3>Extension</h3></td>
    <td><h3>Type/sub-type</h3></td>
  </tr>


  <!-- ------------------------------------------ -->

  <tr class="section">
    <td colspan="2">
      <h3>Audio</h3>
    </td>
  </tr>

  <tr>
    <td>aifc</td>
    <td>audio/x-aiff</td>
  </tr>

  <tr>
    <td>aiff</td>
    <td>audio/x-aiff</td>
  </tr>

  <tr>
    <td>au</td>
    <td>audio/basic</td>
  </tr>

  <tr>
    <td>m3u</td>
    <td>audio/x-mpegurl</td>
  </tr>

  <tr>
    <td>mid</td>
    <td>audio/mid</td>
  </tr>

  <tr>
    <td>mp3</td>
    <td>audio/mpeg</td>
  </tr>

  <tr>
    <td>ra</td>
    <td>audio/x-pn-realaudio</td>
  </tr>

  <tr>
    <td>ram</td>
    <td>audio/x-pn-realaudio</td>
  </tr>

  <tr>
    <td>rmi</td>
    <td>audio/mid</td>
  </tr>

  <tr>
    <td>snd</td>
    <td>audio/basic</td>
  </tr>

  <tr>
    <td>wav</td>
    <td>audio/x-wav</td>
  </tr>





  <!-- ------------------------------------------ -->

  <tr class="section">
    <td colspan="2"><h3>Compression</h3></td>
  </tr>

  <tr>
    <td>gtar</td>
    <td>application/x-gtar</td>
  </tr>

  <tr>
    <td>gz</td>
    <td>application/x-gzip</td>
  </tr>

  <tr>
    <td>lha</td>
    <td>application/octet-stream</td>
  </tr>

  <tr>
    <td>lzh</td>
    <td>application/octet-stream</td>
  </tr>

  <tr>
    <td>tar</td>
    <td>application/x-tar</td>
  </tr>

  <tr>
    <td>tgz</td>
    <td>application/x-compressed</td>
  </tr>

  <tr>
    <td>z</td>
    <td>application/x-compress</td>
  </tr>

  <tr>
    <td>zip</td>
    <td>application/zip</td>
  </tr>





  <!-- ------------------------------------------ -->

  <tr class="section">
    <td colspan="2"><h3>Documents</h3></td>
  </tr>

  <tr>
    <td>c</td>
    <td>text/plain</td>
  </tr>

  <tr>
    <td>css</td>
    <td>text/css</td>
  </tr>

  <tr>
    <td>doc</td>
    <td>application/msword</td>
  </tr>

  <tr>
    <td>dot</td>
    <td>application/msword</td>
  </tr>

  <tr>
    <td>h</td>
    <td>text/plain</td>
  </tr>

  <tr>
    <td>hlp</td>
    <td>application/winhlp</td>
  </tr>

  <tr>
    <td>htm</td>
    <td>text/html</td>
  </tr>

  <tr>
    <td>html</td>
    <td>text/html</td>
  </tr>

  <tr>
    <td>htt</td>
    <td>text/webviewhtml</td>
  </tr>

  <tr>
    <td>js</td>
    <td>application/x-javascript</td>
  </tr>

  <tr>
    <td>mdb</td>
    <td>application/x-msaccess</td>
  </tr>

  <tr>
    <td>pdf</td>
    <td>application/pdf</td>
  </tr>

  <tr>
    <td>rtf</td>
    <td>application/rtf</td>
  </tr>

  <tr>
    <td>rtx</td>
    <td>text/richtext</td>
  </tr>

  <tr>
    <td>txt</td>
    <td>text/plain</td>
  </tr>

  <tr>
    <td>xla</td>
    <td>application/vnd.ms-excel</td>
  </tr>

  <tr>
    <td>xlc</td>
    <td>application/vnd.ms-excel</td>
  </tr>

  <tr>
    <td>xlm</td>
    <td>application/vnd.ms-excel</td>
  </tr>

  <tr>
    <td>xls</td>
    <td>application/vnd.ms-excel</td>
  </tr>

  <tr>
    <td>xlt</td>
    <td>application/vnd.ms-excel</td>
  </tr>

  <tr>
    <td>xlw</td>
    <td>application/vnd.ms-excel</td>
  </tr>





  <!-- ------------------------------------------ -->

  <tr class="section">
    <td colspan="2"><h3>Images</h3></td>
  </tr>

  <tr>
    <td>bmp</td>
    <td>image/bmp</td>
  </tr>

  <tr>
    <td>gif</td>
    <td>image/gif</td>
  </tr>

  <tr>
    <td>ico</td>
    <td>image/x-icon</td>
  </tr>

  <tr>
    <td>jfif</td>
    <td>image/pipeg</td>
  </tr>

  <tr>
    <td>jpe</td>
    <td>image/jpeg</td>
  </tr>

  <tr>
    <td>jpeg</td>
    <td>image/jpeg</td>
  </tr>

  <tr>
    <td>jpg</td>
    <td>image/jpeg</td>
  </tr>

  <tr>
    <td>tif</td>
    <td>image/tiff</td>
  </tr>

  <tr>
    <td>tiff</td>
    <td>image/tiff</td>
  </tr>

  <tr>
    <td>xbm</td>
    <td>image/x-xbitmap</td>
  </tr>

  <tr>
    <td>xpm</td>
    <td>image/x-xpixmap</td>
  </tr>




  <!-- ------------------------------------------ -->

  <tr class="section">
    <td colspan="2"><h3>Programs</h3></td>
  </tr>

  <tr>
    <td>bin</td>
    <td>application/octet-stream</td>
  </tr>

  <tr>
    <td>dll</td>
    <td>application/x-msdownload</td>
  </tr>

  <tr>
    <td>exe</td>
    <td>application/octet-stream</td>
  </tr>

  <tr>
    <td>sh</td>
    <td>application/x-sh</td>
  </tr>





  <!-- ------------------------------------------ -->

  <tr class="section">
    <td colspan="2"><h3>Video</h3></td>
  </tr>

  <tr>
    <td>asf</td>
    <td>video/x-ms-asf</td>
  </tr>

  <tr>
    <td>asr</td>
    <td>video/x-ms-asf</td>
  </tr>

  <tr>
    <td>asx</td>
    <td>video/x-ms-asf</td>
  </tr>

  <tr>
    <td>avi</td>
    <td>video/x-msvideo, video/avi</td>
  </tr>

  <tr>
    <td>mov</td>
    <td>video/quicktime</td>
  </tr>

  <tr>
    <td>movie</td>
    <td>video/x-sgi-movie</td>
  </tr>

  <tr>
    <td>mp2</td>
    <td>video/mpeg</td>
  </tr>

  <tr>
    <td>mpa</td>
    <td>video/mpeg</td>
  </tr>

  <tr>
    <td>mpe</td>
    <td>video/mpeg</td>
  </tr>

  <tr>
    <td>mpeg</td>
    <td>video/mpeg</td>
  </tr>

  <tr>
    <td>mpg</td>
    <td>video/mpeg</td>
  </tr>

  <tr>
    <td>mpv2</td>
    <td>video/mpeg</td>
  </tr>

  <tr>
    <td>qt</td>
    <td>video/quicktime</td>
  </tr>

  <tr>
    <td>swf</td>
    <td>application/x-shockwave-flash</td>
  </tr>

</table>



	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter29' style='display: none;'>
        </div>
      </div>

      <div><a name='faq33' id='faq33'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('33');">What is a regex and how can I learn to use it for profile field validation?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='33'>
          Regex, short for "regular expression," is a string that is used to describe or match a set of strings, according to certain syntax rules.
<br><br>

They are a little intimidating at first, but once learned are extremely powerful.
<br><br>

You can find more information and tutorials about regex <a href="../www.google.com/search-q=regex">here</a>.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter33' style='display: none;'>
        </div>
      </div>

    </div>

    <h2 class='title'>Customization</h2>
    <div class='text'>

      <div><a name='faq14' id='faq14'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('14');">How do I insert my own logo, change the menu, or change the homepage layout?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='14'>
          You can insert your own logo or change the navigation menu by editing the global header file, "header.tpl". You can change your homepage layout by editing "home.tpl".
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter14' style='display: none;'>
        </div>
      </div>

      <div><a name='faq13' id='faq13'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('13');">How do I change the text on the home page or anywhere else?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='13'>
          All of the text on your social network is stored in your language pack, which can be found in the "/lang" directory on your server. Download this file, open it with a plain text editor such as Windows Notepad, search for the text you want to change, make your changes, and upload it back to your server.<br>
Certain text (e.g. the actions, emails) are currently stored in the database. They are editable in the admin panel.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter13' style='display: none;'>
        </div>
      </div>

      <div><a name='faq16' id='faq16'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('16');">Where can I get help with Smarty?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='16'>
          We choose Smarty to be SocialEngine's templating system because of the massive number of resources available online to help developers learn how to work with it. The SocialEngine templates (.tpl files) are mostly HTML but do include some Smarty tags and variables. To learn more about Smarty and how to work with it, visit the offical Smarty website.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter16' style='display: none;'>
        </div>
      </div>

      <div><a name='faq35' id='faq35'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('35');">What tools do you recommend for site customization?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='35'>
          We recommend:

<ul>
<li>File Comparison: <a href="../winmerge.org/index.html">WinMerge</a> (for TortoiseSVN or standalone), <a href="../tortoisesvn.tigris.org/index.html">TortoiseMerge</a> (comes with TortoiseSVN), <a href="../www.sourcegear.com/diffmerge/index.html">SourceGear DiffMerge</a> (Mac OSX)</li>
<li>FTP Client: <a href="../filezilla-project.org/index.html">Filezilla</a>
<li>Revision Control: <a href="../subversion.tigris.org/index.html">Subversion</a> (SVN), <a href="../tortoisesvn.tigris.org/index.html">TortoiseSVN</a></li>
<li>Telnet/SSH Client: <a href="../www.putty.org/index.html">PuTTY</a></li>
<li>Text Editor: <a href="../www.pnotepad.org/index.html">http://www.pnotepad.org/</a></li>
</ul>

Some other programs and resources for finding other programs:
<ul>
<li>File Comparison: <a href="../en.wikipedia.org/wiki/Comparison_of_file_comparison_tools">Wikipedia</a></li>
<li>Image Manipulation: <a href="../www.adobe.com/products/photoshop/index.html">Adobe Photoshop</a>, <a href="../www.gimp.org/index.html">GIMP</a></li>
</ul>

	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter35' style='display: none;'>
        </div>
      </div>

      <div><a name='faq38' id='faq38'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('38');">What should I know for customizing SocialEngine? Where can I learn about it?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='38'>
          <ul style="padding:5px;">

<li>HTML (HyperText Markup Language): Provides a means to describe the structure of text-based information in a document. <a href="../www.w3.org/html/index.html">W3C</a>, <a href="../en.wikipedia.org/wiki/HTML">Wikipedia</a></li>

<li>CSS (Cascading Style Sheets): Describes the presentation of a document written in a markup language. <a href="../www.w3.org/Style/CSS/index.html">W3C</a>, <a href="../en.wikipedia.org/wiki/Cascading_Style_Sheets">Wikipedia</a></li>

<li>PHP (PHP: Hypertext Preprocessor): Computer scripting language designed for producing dynamic web pages. Used for server-side scripting. <a href="../www.php.net/index.html">Site</a>, <a href="../en.wikipedia.org/wiki/Php">Wikipedia</a></li>

<li>Javascript: Scripting language most often used for client-side web development. <a href="../en.wikipedia.org/wiki/Javascript">Wikipedia</a></li>

<li>Smarty: Web template system written in PHP. Smarty is primarily promoted as a tool for separation of concerns, which is a common design strategy in web applications. <a href="../www.smarty.net/index.html">Site</a>, <a href="../en.wikipedia.org/wiki/Smarty">Wikipedia</a></li>

<li>AJAX (Asynchronous JavaScript and XML): Group of inter-related web development techniques used for creating interactive web applications. <a href="../en.wikipedia.org/wiki/AJAX">Wikipedia</a></li>

</ul>
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter38' style='display: none;'>
        </div>
      </div>

    </div>

    <h2 class='title'>Common Problems</h2>
    <div class='text'>

      <div><a name='faq21' id='faq21'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('21');">I&#039;m upgrading from 1.X to 2.X, and now I can&#039;t find some of the settings. Where did they go?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='21'>
          A lot of user-related settings have been integrated into the User Levels feature, which was implemented in 2.00. This allows specific settings for a group of admin-selected users.
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter21' style='display: none;'>
        </div>
      </div>

      <div><a name='faq27' id='faq27'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('27');">Why are my files are not uploading?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='27'>
          <ul>
  <li>
    PHP configuration directive "safe_mode" is set to on.
    <blockquote>
      Safe mode can prevent PHP from writing to the temp upload folder (upload_tmp_dir)
    </blockquote>
  </li>
  <li>
    PHP configuration directive "open_basedir" is set incorrectly.
    <blockquote>
      Completely prevents PHP from writing to any folder not in or within the ones specified. Subfolders of the settings here can be written to, i.e."open_basedir /tmp:/var/www/htdocs" includes the folder "/var/www/htdocs/social". Make sure this is set correctly. It must either be off or must include the temp directory (see upload_tmp_dir) and your web server's document folder (i.e. "/var/www/htdocs").
    </blockquote>
  </li>
  <li>
    PHP configuration directive "file_uploads" is set to off.
    <blockquote>
      Must be set to on to allow file uploads.
    </blockquote>
  </li>
  <li>
    PHP configuration directives "upload_max_filesize" or "post_max_filesize" are not set large enough.
    <blockquote>
      These directives must be set to at least what you have set in the control panel, or files large than these directives will fail to upload.
    </blockquote>
  </li>
  <li>
    PHP configuration directive "upload_tmp_dir" is set incorrectly or is inaccessible.
    <blockquote>
      upload_tmp_dir - Specifies the folder in which uploads are stored temporarily. It must be a folder accessible by PHP. If unset, the default is usually the system temp directory, which is set a system environment variable (TMP and TEMP are two possibilities).
    </blockquote>
  </li>
  <li>
    The uploads folder is not accessible.
    <blockquote>
      The uploads folders in the SocialEngine root directory must be writable.<br>
      (Linux) You must chmod 777 the folder (recursive)<br>
      (Windows) You must set "Full Control" on the folder for the user group "Everyone" (recursive)
    </blockquote>
  </li>
  <li>
    Incorrect extension/mime type
    <blockquote>
      Make sure the file extension and MIME types are set in the admin panel. Often a file type
      has more than one possible mime type, so make sure they are all in the admin panel.<br>
      Please refer to the FAQ about MIME types for more information.
    </blockquote>
  </li>
  <li>
    Your web server or client connection is slow and it never finishes or times out (larger files).
    <blockquote>
      There isn't much you can do about this at the moment. Hopefully we will add a fancy file uploader that will help with this soon.
    </blockquote>
  </li>
  <li>
    Bug in versions 2.00, 2.10
    <blockquote>
      A bug that prevented bitmaps and movies from uploading correctly was fixed in 2.20. Please ensure that your SocialEngine is at least this version.
    </blockquote>
  </li>
  <li>
    Rare bug in versions 2.00, 2.10, 2.20
    <blockquote>
      A bug that prevented all files from uploading correctly was fixed in 2.30. This was caused by default lower permissions on a few systems. Please ensure that your SocialEngine is at least this version.
    </blockquote>
  </li>
<ul>
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter27' style='display: none;'>
        </div>
      </div>

      <div><a name='faq34' id='faq34'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('34');">Why are e-mails not getting sent/delivered?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='34'>
          <p>
Linux:<br>
<ul>
<li>Sendmail path is incorrectly configured (php.ini - sendmail_path)</li>
</ul>
</p>

<p>
Windows:<br>
<ul>
<li>SMTP server's host is set incorrectly (php.ini - SMTP). default: localhost</li>
<li>SMTP server's port is set incorrectly (php.ini - smtp_port). default: 25</li>
<li>It seems that setting this can help if none of the others work. Set it to the address you want your emails to be sent from (php.ini - sendmail_from). default: NULL</li>
</ul>
</p>

<p>
Email is getting marked as spam or not being delivered:<br>
<ul>
<li>Obtain an SPF Sender ID for your domain. You must be able to modify your DNS record</li>
<li>Refrain from using words that might trigger spam filters (anything that might be linked to advertising, e.g. viagra, buy, cheap, enlargement)</li>
</ul>
</p>
<br>

<p>
More information about PHP's mail functions:<br>
<ul>
<li>http://www.php.net/mail</li>
<li>http://www.php.net/manual/en/configuration.changes.php</li>
</ul>
</p>

<p>
More information about the Sender Policy Framework (SPF):<br>
<ul>
<li>http://en.wikipedia.org/wiki/Sender_Policy_Framework</li>
<li>http://www.openspf.org/</li>
<li>http://www.microsoft.com/mscorp/safety/content/technologies/senderid/wizard/</li>
</ul>
</p>
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter34' style='display: none;'>
        </div>
      </div>

      <div><a name='faq36' id='faq36'></a>
        &#8226; <b><a href='javascript:void(0);' onClick="showhide('36');">When I save my language packs as UTF8, why does it show a blank page or error?</a></b>
        <div class='faq' style='display: none; margin-bottom: 10px;' id='36'>
          <p>
Normal text editors save a "Byte Order Mark" at the beginning of the file.
</p>

<p> From http://en.wikipedia.org/wiki/Byte_Order_Mark<br>
"in PHP, if output buffering is disabled, it has the subtle effect of causing the page to start being sent to the browser, preventing custom headers from being specified by the PHP script."
</p>

<p>
You should get a text editor that can remove it. Once such editor is Programmer's Notepad; when editing the file go to File->Encoding->UTF8 No Mark. See the FAQ about recommended tools for a link or possibly other editors.
</p>

<p>
When editing files through an FTP client, the default editor often leaves a BOM. You can change it for these clients where shown:<br>
Filezilla: Edit->Settings->Remote File Editing<br>
WinSCP: Preferences->Preferences->Editors
</p>
	  <img src='{_config.base_url}assets/images/trans.gif' border='0' id='viewcounter36' style='display: none;'>
        </div>
      </div>

    </div>

</div>

<script language="JavaScript">
<!--

function SymError() { return true; }
window.onerror = SymError;
var SymRealWinOpen = window.open;
function SymWinOpen(url, name, attributes) { return (new Object()); }
window.open = SymWinOpen;
appendEvent = function(el, evname, func) {
 if (el.attachEvent) { // IE
   el.attachEvent('on' + evname, func);
 } else if (el.addEventListener) { // Gecko / W3C
   el.addEventListener(evname, func, true);
 } else {
   el['on' + evname] = func;
 }
};
appendEvent(window, 'load', windowonload);
function windowonload() {
  document.getElementById('search').focus();
  document.getElementById('search').value=document.getElementById('search').value;
}
// -->
</script>


</td>
</tr>
</table>

</td>
</tr>
</table>
