<!-- #layout name='frontend.html' block='container' -->
<table cellpadding='0' cellspacing='0' align='center' width='790'>
<tr>
<td style='padding: 15px 0px 15px 0px;'>


<h1>授权协议</h1>
<br>
Treacle遵循Apache2开源许可协议发布，  意味着你可以免费使用Treacle，  甚至允许把你的Treacle 
应用采用商业闭源发布。<br />具体参考 Apache2许可协议内容： 
http://www.apache.org/licenses/LICENSE‐2.0 

<!-- <div style='border: 1px solid #d5e7ff; color: #555555; padding: 7px 10px 7px 10px; background: #f0faff;'>
Please note that <u>none</u> of these tutorials are supported
by the SocialEngine staff under any circumstances - they are simply provided to
assist you in customizing your SocialEngine installation. No support or warranty
is provided for these tutorials, and support questions submitted about them will
<u>not be answered</u>. Also, please note that modifying your source code may void
your right to support.
<br><br>
<b>Have you created a SocialEngine tutorial, mod, or language pack that you would like to share or sell? Feel free to submit your own tutorial to us, and we may publish it here!</b><br>
  <div style='margin-top: 10px;'>
    <a href='./tutorials/tutorials_new.php'><img src='{_config.base_url}assets/images/tutorial_write.gif' border='0' class='icon2'><b>Add Your Tutorial</b></a>
  </div>
</div>
<br> -->

</td>
</tr>
</table>

</td>
</tr>
</table>
