<!-- #layout name='frontend.html' block='container' -->
<script language="javascript">
<!--
Rollimage0 = new Array()
Rollimage1 = new Array()
Rollimage0['buy'] = new Image(105,120);
Rollimage0['buy'].src = "{{url::base()}}/assets/images/front_buy2.gif";
Rollimage1['buy'] = new Image(105,120);
Rollimage1['buy'].src = "{{url::base()}}/assets/images/front_buy.gif";
Rollimage0['trial'] = new Image(105,120);
Rollimage0['trial'].src = "{{url::base()}}/assets/images/front_trial2.gif";
Rollimage1['trial'] = new Image(105,120);
Rollimage1['trial'].src = "{{url::base()}}/assets/images/front_trial.gif";
Rollimage0['demos'] = new Image(105,120);
Rollimage0['demos'].src = "{{url::base()}}/assets/images/front_demos2.gif";
Rollimage1['demos'] = new Image(105,120);
Rollimage1['demos'].src = "{{url::base()}}/assets/images/front_demos.gif";
Rollimage0['newsletter'] = new Image(105,120);
Rollimage0['newsletter'].src = "{{url::base()}}/assets/images/front_newsletter2.gif";
Rollimage1['newsletter'] = new Image(105,120);
Rollimage1['newsletter'].src = "{{url::base()}}/assets/images/front_newsletter.gif";

function SwapOut(id1)
{
    document.getElementById(id1).src = Rollimage1[id1].src;
    return true;
}

function SwapBack(id1)
{
    document.getElementById(id1).src = Rollimage0[id1].src;
    return true;
}

// -->
</script>

<table cellpadding='0' cellspacing='0' align='center' width='790'>
<tr>
<td style='padding: 15px 0px 15px 0px;'>
<table cellpadding='0' cellspacing='0' align='center' width='100%'>
<tr>
<td valign='top'>
<div style='text-align: center;'>
<img src='{{url::base()}}/assets/images/front_slogan.gif' border='0'>
</div>
<br>
<table cellpadding='0' cellspacing='0' align='center'>
<tr>
<td style='padding-right: 35px;'><a href='{{url::base()}}/donation'><img id='buy' src='{{url::base()}}/assets/images/front_buy2.gif' border='0' onMouseOver="SwapOut('buy')" onMouseOut="SwapBack('buy')" alt='捐助我们'></a></td>
<td style='padding-right: 35px;'><a href='{{url::base()}}/download'><img id='trial' src='{{url::base()}}/assets/images/front_trial2.gif' border='0' onMouseOver="SwapOut('trial')" onMouseOut="SwapBack('trial')" alt='免费下载'></a></td>
<td style='padding-right: 30px;'><a href='{{url::base()}}/demo'><img id='demos' src='{{url::base()}}/assets/images/front_demos2.gif' border='0' onMouseOver="SwapOut('demos')" onMouseOut="SwapBack('demos')" alt='在线演示'></a></td>
<td><a href='{{url::base()}}/joinour'><img id='newsletter' src='{{url::base()}}/assets/images/front_newsletter2.gif' border='0' onMouseOver="SwapOut('newsletter')" onMouseOut="SwapBack('newsletter')" alt='加入我们'></a></td>
</tr>
</table>
<br>

<!-- <h2 class='title'>Treacle 开发重要更新.</h2>
<div class='text'>
Other social network apps overwhelm your users with superfluous features.
History shows that the simpler, user-friendlier social networks are more
likely to succeed. SocialEngine allows you to buy features "?la carte."
This means that if your unique idea includes specific features like blogs
or photo albums, you can build them yourself or buy them from us for a small
fee.
</div> -->

<h2 class='title'>Treacle 是个什么呢?</h2>
<div class='text'>
Treacle 为开发者轻松、快捷的创建应用程序提供帮助。Treacle 框架简单、清晰，容易理解和学习，并且有完全中文化的文档和丰富的示例程序降低学习成本。<br />
</div>

<h2 class='title'>Treacle 有什么特点?</h2>
<div class='text'>
    <ul>
        <li>完全跨平台 </li>
        <li>完全支持 PHP5 </li>
        <li>不倚赖特别的 PHP 扩展模块 </li>
        <li>简单、容易理解的 MVC 模型 </li>
        <li>丰富的助手对象和组件 </li>
        <li>开放源代码，完全中文化的注释和文档 </li>
        <li>商业公司提供技术支持 </li>
    </ul>
</div>

<h2 class='title'>如何获取技术支持?</h2>
<div class='text'>您可以通过参与我们的论坛来获得技术支持。</div>

</td>
<td valign='top' width='250' style='padding-left: 10px;'>
<div style='padding: 10px; font-size: 8pt; border: 1px solid #CCCCCC; background: #F4FAFF; line-height: 10pt;'>
<br /><br />
<center>广 告 位</center>
<br /><br />
</div>
<!-- <div style='margin-top: 10px; padding: 10px; font-size: 8pt; border: 1px solid #CCCCCC; background: #F4FAFF; line-height: 10pt;'>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div style='margin-top: 10px; padding: 10px; font-size: 8pt; border: 1px solid #CCCCCC; background: #F4FAFF; line-height: 10pt;'>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div> -->
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
