<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="zh-CN" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta name="keywords" content="{{keywords}}" />
  <meta name="description" content="{{summary}}" />
  <title>QuickPHP Framework - 首页</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{url::base()}}/assets/styles/screen.css"  type="text/css" media="all" />
</head>
<body>

<table cellpadding='0' cellspacing='0' width='100%' align='center'>
  <tr>
    <td class='topbar' align='center'>
      <table cellpadding='0' cellspacing='0' width='800'>
        <tr>
          <td style='padding: 30px 0px 0px 0px;'><a href='{{url::base()}}'><img src='{{url::base()}}/assets/images/topbar_logo2.gif' border='0' alt=''></a></td>
          <td align='right' valign='bottom' style='padding: 0px 0px 5px 0px;'>
            <table cellpadding='0' cellspacing='0'>
              <tr>
                <td><a href='trial.php'></td>
                <td style='padding-left: 10px;'></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table cellpadding='0' cellspacing='0' width='100%'>
  <tr>
    <td class='menu' align='center'>
      <table cellpadding='0' cellspacing='0' align='center' width='780'>
        <tr>
          <td class='menu2'>
            <a href="{{url::bind('home')}}" class='menu'>网站首页</a> &nbsp;|&nbsp;
            <a href="{{url::bind('download')}}" class='menu'>快速下载</a> &nbsp;|&nbsp;
            <a href="{{url::bind('apis')}}" class='menu'>API 手册</a> &nbsp;|&nbsp;
            <a href="{{url::bind('demos')}}" class='menu'>在线体验</a> &nbsp;|&nbsp;
            <a href="{{url::bind('docs')}}" class='menu'>开发文档</a> &nbsp;|&nbsp;
            <a href="{{url::bind('license')}}" class='menu'>授权协议</a> &nbsp;|&nbsp;
            <a href="{{url::bind('donation')}}" class='menu'>捐助我们</a> &nbsp;|&nbsp;
            <a href="/community/" class='menu'>交流论坛</a> &nbsp;|&nbsp;
            <a href="{{url::bind('feedback')}}" class='menu'>意见反馈</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table cellpadding='0' cellspacing='0' align='center' width='100%'>
<tr>
<td class="content">
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td class="shadow"><img src="{{url::base()}}/assets/images/shadow.gif" border='0'></td>
</tr>
</table>

<!--内容部分开始-->
{{container}}
<!--内容部分结束-->
<table cellpadding='0' cellspacing='0' width='100%' align='center'>
    <tr>
    <td valign='top' style='padding: 15px 10px 30px 10px; background: #222222; border-top: 5px solid #484848;'>
        <table cellpadding='0' cellspacing='0' width='780' align='center'>
            <tr>
                <td width='450' valign='top'>
                <div style='border-bottom: 1px solid #555555; width: 420px; color: #999999; padding: 5px 3px 3px 0px; margin-bottom: 5px;'><b>快速链接</b></div>
                    <table cellpadding='0' cellspacing='0'>
                        <td valign='top'>
                            <td valign='top' width='220'>
                            <div class='link'><a href='{{url::base()}}/download' class='grey'>免费下载</a></div>
                            <div class='link'><a href='{{url::base()}}/' class='grey'>常见问题</a></div>
                            <div class='link'><a href='{{url::base()}}/document' class='grey'>开发文档</a></div>
                            <div class='link'><a href='{{url::base()}}/joinour' class='grey'>加入我们</a></div>
                            <div class='link'><a href='{{url::base()}}/demo' class='grey'>在线体验</a></div>
                        </td>
                        <td valign='top'>
                            <div class='link'><a href='{{url::base()}}/about' class='grey'>关于我们</a></div>
                            <div class='link'><a href='{{url::base()}}/forum' class='grey'>支持论坛</a></div>
                            <div class='link'><a href='{{url::base()}}/cooperate' class='grey'>合作信息</a></div>
                            <div class='link'><a href='{{url::base()}}/donation' class='grey'>捐助我们</a></div>
                            <div class='link'><a href='{{url::base()}}/contact' class='grey'>意见反馈</a></div>
                        </td>
                        </tr>
                    </table>
                </td>
                <td valign='top'>
                <div style='border-bottom: 1px solid #555555; width: 250px; color: #999999; padding: 5px 3px 3px 0px; margin-bottom: 5px;'><b>其他资源</b></div>
                    <table cellpadding='0' cellspacing='0'>
                        <tr>
                            <td valign='top' width='250'>
                                <div class='link'><a href='http://www.php.net/manual/zh/' target='_blank' class='grey'>PHP 中文文档</a></div>
                                <div class='link'><a href='http://www.treacle.cn/man/mysql/zh/' target='_blank' class='grey'>MySQL 中文文档</a></div>
                                <div class='link'><a href='http://www.pgsqldb.org/pgsqldoc-8.1c/index.html' target='_blank' class='grey'>PostgreSQL 中文文档</a></div>
                                <div class='link'><a href='http://lamp.linux.gov.cn/Apache/ApacheMenu/' target='_blank' class='grey'>Apache 中文文档</a></div>
                                <div class='link'><a href='http://cb.vu/unixtoolbox.xhtml' target='_blank' class='grey'>Linux 手册</a></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
    </tr>
</table>

<table cellpadding='0' cellspacing='0' width='780' align='center'>
    <tr>
        <td style='padding: 10px 10px 100px 0px; color: #444444;'>
        Copyright 2008, 2009 <a href='{{url::base()}}/' class='grey' target='_blank'>Treacle Developments</a>&nbsp;<a href="http://www.miibeian.gov.cn" rel="external">京ICP备05061076号</a>
        </td>
    </tr>
</table>

</body>
</html>