<!-- #layout name='frontend.html' block='container' -->
<table cellpadding='0' cellspacing='0' align='center' width='790'>
<tr>
<td style='padding: 15px 0px 15px 0px;'>

<div class='content'>
<h1>快速下载</h1>
如果您对我们的框架感兴趣,那么你可以通过以下方式进行下载.

<br><br>

<h2 class='title'>通过HTTP方式下载</h2>
<br />
<div style='border: 1px solid #d5e7ff; color: #555555; padding: 7px 10px 7px 10px; background: #f0faff;'>
<a href="{{url::bind('download/release')}}" target='_blank'>{{url::bind('download/release')}}</a>
</div>
<br />
<h2 class='title'>通过SVN方式下载</h2>
<br />
<div style='border: 1px solid #d5e7ff; color: #555555; padding: 7px 10px 7px 10px; background: #f0faff;'>
svn co http://svn.treacle.cn/trunk/ treacle
</div>

</div>

</td>
</tr>
</table>

</td>
</tr>
</table>
